{% extends "base.html" %} {% block content %}
<h2>Inquiry List</h2>

{% if user.is_authenticated %}
<h3>Your Inquiries</h3>
<ul>
  {% for question in your_questions %}
  <li>
    <a href="{% url 'question_detail' question_pk=question.pk %}"
      >{{ question }}</a
    >
  </li>
  {% endfor %} {% endif %}
</ul>
<h3>Others' Inquiries</h3>
<ul>
  {% for question in other_users_questions %}
  <li>
    <a href="{% url 'question_detail' question_pk=question.pk %}"
      >{{ question }}</a
    > asked by {{ question.user }}
  </li>
  {% endfor %}
</ul>
{% if user.is_authenticated %}
<div>
  <a href="{% url 'ask_question' %}">Make an Inquiry</a>
</div>
{% endif %} {% if not user.is_authenticated %}
<div>
  <p>
    Please <a href="{% url 'auth_login' %}">Sign in</a> or
    <a href="{% url 'registration_register' %}">Sign up</a> to make an inquiry
  </p>
</div>
{% endif %} {% endblock %}
