{% extends "base.html" %}

{% block content %}
<h2>Inquiry List</h2>

<ul>
    {% for question in questions %}
    <li><a href="{% url 'question_detail' question_pk=question.pk %}">{{ question }}</a>
    {% if user == question.user %}
    <a href="{% url 'edit_question' question_pk=question.pk %}">Edit This Inquiry</a>
    {% endif %}
    </li>
    {% endfor %}
</ul>
{% if user.is_authenticated %}
<div>
    <a href="{% url 'ask_question' %}">Make an Inquiry</a>
</div>
{% endif %}
{% if not user.is_authenticated %}
<div>
    <p>Please <a href="{% url 'auth_login' %}">Sign in</a> or <a href="{% url 'registration_register' %}">Sign up</a> to make an inquiry</p>
</div>
{% endif %}
{% endblock %}