{% extends "base.html" %}
{% load markdownify %} {% block content %}
<div>
  <h2>
    {{ question.title }} {% if user.is_authenticated %}
    <a
      style="text-decoration: none; color: gold;"
      id="star-question"
      data-question-id="{{ question.pk }}"
      href=""
    >
      {% if is_user_starred %} &#x2605; {% else %} &#x2606; {% endif %}
    </a>

    {% endif %}
  </h2>
  <p>{{ question.body |markdownify}}</p>
  {% if user == question.user %}<a
    href="{% url 'edit_question' question_pk=question.pk %}"
    >Edit This Inquiry</a
  >
  <a href="{% url 'delete_question' question_pk=question.pk %}"
    >Delete This Inquiry</a
  >{% endif %}
</div>
<h3>Responses</h3>
<ul>
  {% for answer in question.answers.all %}
  <li>
    {{ answer.body |markdownify }} <strong>- by {{ answer.author }}</strong>
    {% if user == question.user %}
    <a id="mark-correct" data-question-id="{{ question.pk }}" data-answer-id="{{ answer.pk }}" href="">
      {% if answer.marked_correct %} Marked Correct {% else %} Mark Response Correct {% endif %}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
<div>
  <a href="{% url 'answer_question' question_pk=question.pk %}"
    >Respond to Inquiry</a
  >
</div>
{% endif %} {% if not user.is_authenticated %}
<div>
  <p>
    Please <a href="{% url 'auth_login' %}">Sign in</a> or
    <a href="{% url 'registration_register' %}">Sign up</a> to respond to an
    inquiry
  </p>
</div>
{% endif %}
<script>
  let starQuestionLink = document.querySelector("#star-question");
  starQuestionLink.addEventListener("click", (event) => {
    event.preventDefault();
    let questionId = starQuestionLink.dataset.questionId;
    fetch("/questions/" + questionId + "/star/", {
      method: "POST",
      credentials: "include",
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.isStarred) {
          starQuestionLink.innerHTML = "&#x2605;";
        } else {
          starQuestionLink.innerHTML = "&#x2606;";
        }
      });
  });
  let markCorrectLink = document.querySelectorAll("#mark-correct");
  for (let answer of markCorrectLink){answer.addEventListener("click", (event) => {
    event.preventDefault();
    let questionId = answer.dataset.questionId;
    let answerId = answer.dataset.answerId
    fetch("/questions/" + questionId + "/" + answerId + "/mark_correct/", {
      method: "POST",
      credentials: "include",
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.markedCorrect) {answer.innerHTML = "Marked Correct";
        } else {
          answer.innerHTML = "Mark Response Correct";
        }
      });
  })};
</script>
{% endblock %}
