<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{% url 'homepage' %}"><h1>The Inquiry Crate</h1></a>
    {% if user.is_authenticated %}
    <div class="user-logout">
      Hello, {{user.username}}!<br />
      <a href="{% url 'auth_logout' %}">Logout</a>
    </div>
    {% endif %} 
    {% block content %}
    {% endblock %}
  </body>
</html>
